## 01. Import Libraries

In [50]:
# import libraries

import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
import numpy as np
from datetime import datetime as dt

## 02. Import Data

In [53]:
# importing our combined dataset from the last exercise:

df = pd.read_csv('/Users/piperdutcher/Documents/Data-Visualizations/Bike-Sharing/Data/merged_temp_ride_data.csv', index_col = 0)

## 03. Double Checking Data

In [56]:
# I like to be able to see all of my columns:

pd.set_option("display.max_columns", None)

df.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp,_merge
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual,2022-03-18,13.9,both
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-04,-1.9,both
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3,both
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3,both
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-11,7.2,both
5,D0A107858EEB5D1E,electric_bike,2022-03-03 08:01:51,2022-03-03 08:07:18,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,casual,2022-03-03,5.6,both
6,D412176BBAFDDDDE,electric_bike,2022-03-21 22:41:49,2022-03-21 22:48:40,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,casual,2022-03-21,10.4,both
7,AE23FEC34B493C20,electric_bike,2022-03-20 10:42:53,2022-03-20 10:49:14,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,casual,2022-03-20,14.3,both
8,6AD8F961B3EE7219,electric_bike,2022-03-24 17:52:22,2022-03-24 18:02:23,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,casual,2022-03-24,5.7,both
9,7159E715C9CAC9A9,electric_bike,2022-03-19 05:29:52,2022-03-19 05:35:39,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-19,13.1,both

In [240]:
# we can drop the _merge column:

# df = df.drop('_merge', axis=1)

In [62]:
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual,2022-03-18,13.9
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-04,-1.9
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-11,7.2

In [64]:
df.shape

(895485, 15)

In [41]:
# check for missing or null values:

df.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name      10
start_station_id        10
end_station_name      3204
end_station_id        3204
start_lat                0
start_lng                0
end_lat               1970
end_lng               1970
member_casual            0
date                     0
average_temp             0
dtype: int64

In [67]:
# based on the above, we have 10 ride entries that are missing a start station name and id
# going to create a subset of this data to take a closer look 
# it appears that no rides have a missing starting latitude, perhaps we can find a link between the missing values

df_null_station = df[df['start_station_name'].isnull() == True]
df_null_station

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
189336,F0D1334BD5FB8520,classic_bike,2022-11-12 07:31:56,2022-11-12 08:32:03,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-12,19.7
189337,E08E1BB778EB4CFD,classic_bike,2022-11-10 15:09:27,2022-11-10 16:09:38,NaN,NaN,NaN,NaN,40.74,-74.03,40.74,-74.03,member,2022-11-10,12.6
189338,217DDED37E5C6C83,classic_bike,2022-11-12 12:55:58,2022-11-12 13:56:07,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-12,19.7
189343,BD0EC67EDCFC2E65,classic_bike,2022-11-10 17:21:50,2022-11-10 20:13:05,NaN,NaN,NaN,NaN,40.74,-74.03,40.72,-74.05,casual,2022-11-10,12.6
189344,EEEE26A65B2E8818,classic_bike,2022-11-13 16:46:24,2022-11-13 17:49:18,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-13,12.9
189350,E1376856B2B40ED4,classic_bike,2022-11-11 08:46:07,2022-11-11 09:49:37,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-11,16.4
190724,B3231280404C96CD,classic_bike,2022-11-12 20:40:07,2022-11-12 21:40:41,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-12,19.7
190725,5851BFAC140A82B4,classic_bike,2022-11-13 15:30:15,2022-11-13 16:30:25,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,member,2022-11-13,12.9
190735,95BA78454BF7CF5E,classic_bike,2022-11-12 19:38:06,2022-11-12 20:39:23,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,member,2022-11-12,19.7
190736,151E4996C9C7512D,classic_bike,2022-11-12 17:35:56,2022-11-12 18:48:57,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,member,2022-11-12,19.7

In [74]:
# interestingly enough, we can see that these 10 rides start and end at almost the same lat/long. 
# let's go back to our original dataframe and see if we can find a station near that lat/long

df[df['start_lat'] == 40.72]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
189336,F0D1334BD5FB8520,classic_bike,2022-11-12 07:31:56,2022-11-12 08:32:03,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-12,19.7
189338,217DDED37E5C6C83,classic_bike,2022-11-12 12:55:58,2022-11-12 13:56:07,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-12,19.7
189344,EEEE26A65B2E8818,classic_bike,2022-11-13 16:46:24,2022-11-13 17:49:18,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-13,12.9
189350,E1376856B2B40ED4,classic_bike,2022-11-11 08:46:07,2022-11-11 09:49:37,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-11,16.4
190724,B3231280404C96CD,classic_bike,2022-11-12 20:40:07,2022-11-12 21:40:41,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,casual,2022-11-12,19.7
190725,5851BFAC140A82B4,classic_bike,2022-11-13 15:30:15,2022-11-13 16:30:25,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,member,2022-11-13,12.9
190735,95BA78454BF7CF5E,classic_bike,2022-11-12 19:38:06,2022-11-12 20:39:23,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,member,2022-11-12,19.7
190736,151E4996C9C7512D,classic_bike,2022-11-12 17:35:56,2022-11-12 18:48:57,NaN,NaN,NaN,NaN,40.72,-74.05,40.72,-74.05,member,2022-11-12,19.7

In [82]:
# lets check for the end lat

df[df['end_lat']==(40.72)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
24319,85520BE8B4E5077E,classic_bike,2022-03-03 08:18:34,2022-03-04 09:18:26,Jersey & 6th St,JC027,NaN,NaN,40.725289,-74.045572,40.72,-74.04,member,2022-03-03,5.6
63530,4A898152CB214964,classic_bike,2022-01-17 07:24:48,2022-01-17 11:00:40,Essex Light Rail,JC038,NaN,NaN,40.712774,-74.036486,40.72,-74.05,casual,2022-01-17,3.9
63731,B86D962AFBB06C65,classic_bike,2022-01-13 08:36:16,2022-01-13 18:44:27,Essex Light Rail,JC038,NaN,NaN,40.712774,-74.036486,40.72,-74.03,member,2022-01-13,4.0
63744,18ED56DFE0674F58,classic_bike,2022-01-16 22:05:37,2022-01-17 11:00:40,Grove St PATH,JC005,NaN,NaN,40.719586,-74.043117,40.72,-74.05,member,2022-01-16,-8.0
63747,72998143CC0AA1D7,electric_bike,2022-01-11 14:03:11,2022-01-11 20:07:17,Hilltop,JC019,NaN,NaN,40.731169,-74.057574,40.72,-74.05,casual,2022-01-11,-5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879057,9E1F2142AA2BB6F7,classic_bike,2022-12-23 15:19:58,2022-12-23 16:24:04,Montgomery St,JC099,NaN,NaN,40.719460,-74.051041,40.72,-74.04,member,2022-12-23,7.5
879063,E68261237C34363C,classic_bike,2022-12-23 08:25:33,2022-12-23 09:39:20,Adams St & 11 St,HB507,NaN,NaN,40.750716,-74.033709,40.72,-74.05,member,2022-12-23,7.5
879066,9148431E5F6D5457,classic_bike,2022-12-19 14:45:16,2022-12-19 14:45:21,Dixon Mills,JC076,NaN,NaN,40.721571,-74.050079,40.72,-74.05,member,2022-12-19,1.7
879079,F86BEF6DDE5AEFFF,classic_bike,2022-12-15 08:28:15,2022-12-15 09:45:32,14 St Ferry - 14 St & Shipyard Ln,HB202,NaN,NaN,40.752569,-74.024127,40.72,-74.04,casual,2022-12-15,2.7
879081,5F0820AE0382559F,electric_bike,2022-12-23 19:28:19,2022-12-24 20:28:16,Columbus Drive,JC014,NaN,NaN,40.718355,-74.038914,40.72,-74.04,casual,2022-12-23,7.5

In [98]:
# checking for any other matching results:

df_stations_null = df[(df['end_lng'] == -74.04) & (df['end_lat'] == 40.72)]
df_stations_null.head(75)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
24319,85520BE8B4E5077E,classic_bike,2022-03-03 08:18:34,2022-03-04 09:18:26,Jersey & 6th St,JC027,NaN,NaN,40.725289,-74.045572,40.72,-74.04,member,2022-03-03,5.6
63750,F63C4B91AAC880BD,electric_bike,2022-01-12 06:55:13,2022-01-12 12:51:13,Grove St PATH,JC005,NaN,NaN,40.719586,-74.043117,40.72,-74.04,member,2022-01-12,-1.9
63781,7C545702BF3BED12,electric_bike,2022-01-11 17:43:14,2022-01-11 19:30:31,Union St,JC051,NaN,NaN,40.718211,-74.083639,40.72,-74.04,member,2022-01-11,-5.4
63825,6437480A07BADAA7,classic_bike,2022-01-11 12:08:29,2022-01-11 19:30:31,Liberty Light Rail,JC052,NaN,NaN,40.711242,-74.055701,40.72,-74.04,member,2022-01-11,-5.4
63828,D3A3196C6877A0CB,classic_bike,2022-01-11 13:06:30,2022-01-11 19:30:31,Liberty Light Rail,JC052,NaN,NaN,40.711242,-74.055701,40.72,-74.04,member,2022-01-11,-5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879006,1BF168D919415816,classic_bike,2022-12-07 16:00:12,2022-12-07 16:02:41,Washington St,JC098,NaN,NaN,40.724219,-74.035387,40.72,-74.04,casual,2022-12-07,13.8
879015,823E8EDDA7FF3333,classic_bike,2022-12-23 07:55:46,2022-12-23 09:02:49,Lafayette Park,JC078,NaN,NaN,40.713505,-74.062799,40.72,-74.04,casual,2022-12-23,7.5
879057,9E1F2142AA2BB6F7,classic_bike,2022-12-23 15:19:58,2022-12-23 16:24:04,Montgomery St,JC099,NaN,NaN,40.719460,-74.051041,40.72,-74.04,member,2022-12-23,7.5
879079,F86BEF6DDE5AEFFF,classic_bike,2022-12-15 08:28:15,2022-12-15 09:45:32,14 St Ferry - 14 St & Shipyard Ln,HB202,NaN,NaN,40.752569,-74.024127,40.72,-74.04,casual,2022-12-15,2.7
879081,5F0820AE0382559F,electric_bike,2022-12-23 19:28:19,2022-12-24 20:28:16,Columbus Drive,JC014,NaN,NaN,40.718355,-74.038914,40.72,-74.04,casual,2022-12-23,7.5

In [100]:
# okay i think we're getting somewhere! we have the starting stations for a lot of these rides. based on the lat/long it almost looks like a lot of these are between stations.
# going to save this smaller dataframe for now and investigate it further once i've mapped my stations, it might be possible to place these!

df_stations_null.to_csv('/Users/piperdutcher/Documents/Data-Visualizations/Bike-Sharing/Data/null_stations.csv')

In [104]:
null_end = df[df['end_station_name'].isnull() == True]
null_end

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
2348,E34719955DA12A80,classic_bike,2022-03-05 13:30:34,2022-03-06 14:30:27,Liberty Light Rail,JC052,NaN,NaN,40.711242,-74.055701,40.71,-74.06,casual,2022-03-05,3.1
2375,FEA39EE70730A25B,classic_bike,2022-03-24 18:07:41,2022-03-25 19:07:36,Liberty Light Rail,JC052,NaN,NaN,40.711242,-74.055701,NaN,NaN,casual,2022-03-24,5.7
3295,152D3B2324E1E27C,electric_bike,2022-03-04 06:02:06,2022-03-05 07:01:58,Baldwin at Montgomery,JC020,NaN,NaN,40.723659,-74.064194,NaN,NaN,member,2022-03-04,-1.9
3297,843E02F7794F08B1,classic_bike,2022-03-22 19:25:38,2022-03-22 22:47:30,Liberty Light Rail,JC052,NaN,NaN,40.711242,-74.055701,40.71,-74.06,casual,2022-03-22,10.7
3298,59792DC42CFB4101,classic_bike,2022-03-15 15:09:11,2022-03-16 16:09:05,6 St & Grand St,HB302,NaN,NaN,40.744398,-74.034501,NaN,NaN,member,2022-03-15,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892561,AE5A2E926C4FDBB4,classic_bike,2022-12-20 22:24:47,2022-12-21 23:24:41,City Hall - Washington St & 1 St,HB105,NaN,NaN,40.737360,-74.030970,NaN,NaN,casual,2022-12-20,1.9
892562,D50B997E3413660F,classic_bike,2022-12-18 20:15:42,2022-12-18 20:15:47,Riverview Park,JC057,NaN,NaN,40.744716,-74.043815,40.74,-74.04,member,2022-12-18,3.1
892563,56D7BC8654B33751,classic_bike,2022-12-23 12:43:21,2022-12-23 13:49:45,Riverview Park,JC057,NaN,NaN,40.744786,-74.043714,40.75,-74.03,casual,2022-12-23,7.5
892570,09A4BA8559DD647D,classic_bike,2022-12-28 15:49:45,2022-12-29 16:49:39,Hoboken Terminal - River St & Hudson Pl,HB102,NaN,NaN,40.736068,-74.029127,NaN,NaN,member,2022-12-28,3.4
892574,F8AB26E954659965,classic_bike,2022-12-06 08:40:51,2022-12-06 09:58:57,Riverview Park,JC057,NaN,NaN,40.744673,-74.043807,40.74,-74.03,member,2022-12-06,9.3

In [108]:
# after looking at this more closely, I'm going to drop any rides with no ending coordinates. I don't think these will give a complete picture when analyzing completed rides

df1 = df[df['end_station_name'].isnull() == False]
df1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual,2022-03-18,13.9
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-04,-1.9
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-11,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895480,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member,2022-12-06,9.3
895481,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual,2022-12-08,11.6
895482,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member,2022-12-23,7.5
895483,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member,2022-12-02,3.4
895484,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member,2022-12-30,9.3

In [115]:
# going to check for duplicates now. 
# its expected to have duplicate station names, latitudes, temps, etc
# so I'm just going to check the ride_id for duplicates

(df1['ride_id'].duplicated()).value_counts()

ride_id
False    892281
Name: count, dtype: int64

In [117]:
# no duplicate ride ids, going to check a couple other columns for consistency, then export this df1 move on to visualizations etc :)

In [119]:
# check for consistency in rideable_type

df1['rideable_type'].value_counts()

rideable_type
classic_bike     624952
electric_bike    259729
docked_bike        7600
Name: count, dtype: int64

In [125]:
df1['member_casual'].value_counts()

member_casual
member    587530
casual    304751
Name: count, dtype: int64

In [133]:
# both of these columns had potential for misspellings, but both look good!

df1['start_station_id'].value_counts()

start_station_id
JC005           42288
HB103           34130
HB102           32899
HB101           30165
HB105           23214
JC008           21907
JC009           20431
JC066           19917
JC105           19446
JC013           19167
HB201           17060
HB202           16994
JC106           16676
HB607           15828
JC104           15723
HB502           15460
JC098           15064
JC052           14493
HB603           14385
HB402           14098
JC003           14031
JC006           13540
JC032           12113
HB601           11859
HB501           11819
HB409           11393
HB303           11366
HB506           11325
JC014           11185
JC035           10719
JC102           10583
HB305           10538
JC082           10487
HB301           10336
JC109           10204
HB304           10166
JC055           10089
JC056            9972
HB203            9753
JC002            9642
HB505            9439
HB407            9241
HB401            9228
JC023            8914
JC081            8889
JC011            8877
JC072            8672
HB503            8616
JC074            8483
JC020            8467
HB408            8364
HB302            8005
HB602            7843
JC103            7762
JC078            7103
JC019            7092
JC075            6852
JC027            6670
JC024            6661
JC076            6524
JC022            6455
JC057            6397
JC095            6026
HB404            5969
JC038            5834
JC099            5694
HB507            5673
JC034            5190
JC093            5156
JC077            4745
JC080            4473
JC059            4346
JC053            4330
JC094            3641
JC084            3541
JC018            3028
JC051            2379
JC065            2252
JC063            1456
JC110            1123
JC108            1108
JC107             574
JC097             553
JC115             167
JCSYS               2
MTL-ECO5-LAB        2
Name: count, dtype: int64

In [135]:
# the MTL-EC05-LAB is interesting...

# repeating with end station

df1['end_station_id'].value_counts()

end_station_id
JC005           44562
HB103           34750
HB102           32417
HB101           30220
HB105           23591
JC008           21800
JC009           20716
JC105           20168
JC066           19858
JC013           18896
HB202           17585
HB201           17518
JC106           17315
JC104           15880
HB607           15793
HB502           15471
JC098           15178
JC052           14741
JC003           14617
JC006           13932
HB603           13882
HB402           13882
JC032           12547
HB501           12053
HB601           11830
HB506           11595
HB303           11439
JC014           11383
HB409           11369
JC035           11024
JC102           10830
JC082           10823
HB305           10665
HB304           10288
HB301           10198
JC109           10155
HB203            9891
JC056            9740
JC002            9713
HB401            9662
HB505            9623
HB407            9260
HB503            9070
JC011            9002
JC023            8874
JC081            8749
JC074            8559
JC072            8527
JC055            8453
HB408            8253
JC020            8055
HB302            7687
HB602            7636
JC103            7269
JC078            7180
JC075            6667
JC027            6580
JC076            6513
JC024            6152
JC038            5989
HB404            5899
JC099            5888
JC057            5881
HB507            5860
JC019            5731
JC095            5512
JC022            5058
JC077            4759
JC053            4609
JC093            4294
JC080            4265
JC034            4242
JC084            3770
JC059            3759
JC094            2831
JC018            2710
JC051            2487
JC065            2287
JC063            1501
JC108            1287
JC110            1166
JC107             630
JC097             609
JC115             170
5297.02            75
5288.08            30
5216.06            30
5175.08            28
6233.05            27
5114.06            27
6765.01            24
5712.12            24
7617.07            23
5470.12            22
8358.10            22
5636.11            21
5644.05            21
5065.10            19
5470.10            16
5561.06            15
5329.03            14
6157.04            12
4993.15            12
6364.07            11
5430.10            11
6578.01            10
SYS035             10
5065.12             9
5509.02             9
6708.04             9
6584.12             9
6190.08             9
5532.01             8
5847.01             7
4962.01             7
7059.01             7
6115.09             7
5001.08             7
5492.05             7
5024.10             7
5105.09             7
6535.04             7
6364.10             6
6072.11             6
5880.02             6
6459.07             6
4553.04             6
5470.02             5
Shop Morgan         5
5730.08             5
5184.08             5
6948.10             5
5105.01             5
5288.09             5
5696.03             5
5763.03             5
5539.06             4
6551.02             4
5288.12             4
5653.12             4
4889.06             4
4846.01             4
6839.10             4
5593.02             4
5805.05             4
5788.13             4
5679.08             4
JCSYS               4
6726.01             4
6182.02             4
8123.02             3
5065.14             3
4962.08             3
6306.06             3
6740.01             3
8157.06             3
5602.06             3
8320.01             3
5569.06             3
5329.08             3
5033.01             3
5430.08             3
5721.14             3
6148.02             3
5964.01             3
6560.14             3
5578.02             3
5772.05             3
5980.07             3
6289.06             3
6659.10             3
6756.05             3
7606.01             2
7538.14             2
6441.06             2
4243.01             2
5905.14             2
8226.07             2
6450.12             2
7079.06             2
5755.14             2
6676.02             2
5687.11             2
5368.03             2
6098.12             2
4659.02             2
5359.10             2
4590.01             2
3696.05             2
6626.11             2
5922.08             2
MTL-ECO5-LAB        2
6884.03             2
6876.04             2
6955.05             2
4953.04             2
7692.11             2
4993.13             2
8358.03             2
6575.03             2
5561.04             2
6441.01             2
6206.08             2
6247.06             2
8381.04             2
6809.07             2
5626.07             2
5065.04             2
5359.11             2
7409.08             1
7188.13             1
6492.04             1
6526.01             1
6593.15             1
5679.05             1
4488.08             1
7623.13             1
5703.13             1
5593.04             1
8108.02             1
5721.01             1
6602.03             1
7814.01             1
4996.08             1
6389.09             1
7450.05             1
5279.03             1
8575.02             1
6854.05             1
6089.07             1
6644.07             1
6131.12             1
5610.09             1
5797.01             1
5553.10             1
7311.02             1
7360.10             1
6526.05             1
7937.15             1
7922.01             1
7116.04             1
7207.08             1
6425.04             1
4161.01             1
5872.10             1
6459.04             1
7915.11             1
6055.08             1
6801.01             1
4798.02             1
5944.01             1
6611.02             1
6779.04             1
5470.13             1
7023.04             1
5351.03             1
6602.05             1
5820.08             1
6955.01             1
6474.02             1
6925.09             1
7520.07             1
7610.13             1
7288.04             1
4700.06             1
5391.06             1
5238.05             1
6904.06             1
5746.14             1
JC096               1
5145.02             1
5847.06             1
6115.06             1
6212.08             1
5159.07             1
5445.02             1
8715.01             1
6517.08             1
6224.05             1
6248.06             1
5156.05             1
5545.04             1
4993.02             1
6626.01             1
5329.06             1
5137.11             1
5359.12             1
7650.05             1
6306.01             1
7596.10             1
4920.13             1
5137.10             1
6822.09             1
5096.11             1
6753.08             1
4476.03             1
6498.10             1
6762.02             1
5170.01             1
6747.07             1
6740.10             1
6098.10             1
8213.01             1
6659.09             1
6667.04             1
6890.06             1
5914.08             1
7713.11             1
5712.03             1
5453.01             1
5669.10             1
5198.04             1
7014.12             1
6140.05             1
6239.08             1
6079.03             1
6560.01             1
6779.05             1
5971.09             1
Name: count, dtype: int64

In [160]:
# so the MTL_EC05-LAB showed up on this list too, and we will keep it. otherwise there appears to be some formatting inconsistency here...
# going to take a closer look at stations with 75 or less entries
# as end_stations is a string, and station_id is a code with string len =5,  going to find all entries with a string len > 6


end_station_df = df1[df1['end_station_id'].apply(len) >= 6]
end_station_df.shape

(996, 15)

In [174]:
# end station_df appears to have 996 incorrectly formatted entries:
# going to exclude these from our working df, however the MTL-EC0-LAB is consistent across start & end, so we will keep this.
# forgot to resent the display, don't need this many cells.

pd.set_option('display.max_rows', 60)

end_station_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
1297,A3D5CDFCFA678733,classic_bike,2022-03-08 09:10:41,2022-03-08 09:53:30,11 St & Washington St,HB502,E 47 St & Park Ave,6584.12,40.749985,-74.027150,40.755103,-73.974987,member,2022-03-08,8.7
2062,F59831E05E5AF7B6,electric_bike,2022-03-25 12:03:56,2022-03-25 15:25:42,14 St Ferry - 14 St & Shipyard Ln,HB202,12 Ave & W 40 St,6765.01,40.752961,-74.024353,40.760875,-74.002777,member,2022-03-25,9.6
5164,DF58D9694EC5D366,electric_bike,2022-03-30 13:57:28,2022-03-30 14:37:01,11 St & Washington St,HB502,Fulton St & William St,5137.11,40.749985,-74.027150,40.709601,-74.006551,casual,2022-03-30,2.6
5177,E71F5820195E46BF,electric_bike,2022-03-02 16:10:34,2022-03-02 16:31:48,8 St & Washington St,HB603,Murray St & West St,5329.06,40.745984,-74.028199,40.714979,-74.013012,member,2022-03-02,7.7
8177,48CF022359B3DF5E,electric_bike,2022-03-25 14:07:58,2022-03-25 20:45:27,Heights Elevator,JC059,Broadway\t& W 48 St,6708.04,40.748716,-74.040443,40.760177,-73.984868,casual,2022-03-25,9.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889272,17017A46E498C7C6,classic_bike,2022-12-21 11:34:02,2022-12-21 11:46:38,Marin Light Rail,JC013,Vesey Pl & River Terrace,5297.02,40.714584,-74.042817,40.715338,-74.016584,member,2022-12-21,1.0
889490,16397B6EAD1CD88C,classic_bike,2022-12-19 12:25:36,2022-12-19 12:38:03,Marin Light Rail,JC013,Vesey Pl & River Terrace,5297.02,40.714584,-74.042817,40.715338,-74.016584,member,2022-12-19,1.7
889491,D6CD2E4A43D35DF1,classic_bike,2022-12-13 16:19:09,2022-12-13 16:30:51,Marin Light Rail,JC013,Vesey Pl & River Terrace,5297.02,40.714589,-74.042821,40.715338,-74.016584,member,2022-12-13,0.3
890536,700F291DE5B5D8C2,classic_bike,2022-12-14 09:57:49,2022-12-14 10:07:20,Harborside,JC104,Vesey Pl & River Terrace,5297.02,40.719385,-74.034229,40.715338,-74.016584,member,2022-12-14,1.7
891420,B46382A7A473B89B,electric_bike,2022-12-07 08:17:23,2022-12-07 08:58:33,Liberty Light Rail,JC052,E 22 St & 2 Ave,5971.09,40.711242,-74.055701,40.737169,-73.981225,casual,2022-12-07,13.8

In [196]:
# going to use .apply and lambda method to keep the entries we want:
# MTL-EC05-LAB is a string length of 12, so we want the string length to be less than 5 (to match the rest), but at least 10.

# explaining what the lambda is doing:
# it is saying that the length of x must be in our window. X is the specific entry in our end station id column. 
# searching for the # of entries we want to make sure stay in our new DF

df1[df1['end_station_id'].apply(lambda x: (5 <= len(x) >= 10))]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
107416,B4AA1050FAE11F5D,classic_bike,2022-09-01 14:02:56,2022-09-02 10:01:42,Grove St PATH,JC005,Shop Morgan,Shop Morgan,40.719586,-74.043117,40.709873,-73.931594,member,2022-09-01,25.9
175969,02BA03C405C9887E,electric_bike,2022-09-01 13:06:04,2022-09-02 10:01:42,Grove St PATH,JC005,Shop Morgan,Shop Morgan,40.719586,-74.043117,40.709873,-73.931594,casual,2022-09-01,25.9
176069,1FEA1A9717DAFB3D,classic_bike,2022-09-01 17:21:11,2022-09-02 10:01:42,Warren St,JC006,Shop Morgan,Shop Morgan,40.721124,-74.038051,40.709873,-73.931594,member,2022-09-01,25.9
176108,DFA23568EAF881A4,classic_bike,2022-09-01 14:24:45,2022-09-02 10:01:42,Newport PATH,JC066,Shop Morgan,Shop Morgan,40.727224,-74.033759,40.709873,-73.931594,member,2022-09-01,25.9
176180,BB0EB85C4A18B367,electric_bike,2022-09-01 13:19:22,2022-09-02 10:01:42,11 St & Washington St,HB502,Shop Morgan,Shop Morgan,40.749985,-74.027150,40.709873,-73.931594,casual,2022-09-01,25.9
711756,C63FE64FA342358B,classic_bike,2022-10-03 17:44:03,2022-10-03 17:48:30,MTL-ECO5-LAB,MTL-ECO5-LAB,MTL-ECO5-LAB,MTL-ECO5-LAB,40.747166,-74.088964,40.747166,-74.088964,casual,2022-10-03,11.5
711757,7CF0A9BEA7601D09,classic_bike,2022-10-03 13:17:36,2022-10-03 13:17:45,MTL-ECO5-LAB,MTL-ECO5-LAB,MTL-ECO5-LAB,MTL-ECO5-LAB,40.747166,-74.088964,40.747166,-74.088964,casual,2022-10-03,11.5

In [190]:
# these are the 7 entries we want to make sure to keep
# (hopefully we can find Shop Morgan in start_station and assign the end station_id

# our df1 has a size of 892281 x 15, and the end_station_df is 996 x 15. We know we want to keep 7 entries from that, so we willexpect our new df to be 891292 x 15

In [210]:
# using apply and lambda again
# this time going to make sure we only KEEP entries with len 5 or less OR len 10 or more

df2 = df1[df1['end_station_id'].apply(lambda x: len(x) < 6 or len(x) > 10)]
df2

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,average_temp
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual,2022-03-18,13.9
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-04,-1.9
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-11,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895480,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member,2022-12-06,9.3
895481,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual,2022-12-08,11.6
895482,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member,2022-12-23,7.5
895483,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member,2022-12-02,3.4
895484,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member,2022-12-30,9.3

In [218]:
# now that we've dropped incorrectly formatted end_stations, going to do a quick check for 'Shop Morgan'

df2[df2['start_station_name'] == 'Shop Morgan']

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, date, average_temp]
Index: []

In [250]:
# unfortunately no rides originate at Shop Morgan so we can't populate the end_station_id for now.

In [252]:
# checking types:

df2.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
date                   object
average_temp          float64
dtype: object

In [255]:
# change date column to date type:

# need to set date column to date type

df2['date'] = pd.to_datetime(df2['date'])
df2.dtypes

/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_26137/3331934330.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['date'] = pd.to_datetime(df2['date'])

ride_id                       object
rideable_type                 object
started_at                    object
ended_at                      object
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
date                  datetime64[ns]
average_temp                 float64
dtype: object

In [257]:
# lets export this df now that we've removed incorrectly formatted entries and checked our types!:

df2.to_csv('/Users/piperdutcher/Documents/Data-Visualizations/Bike-Sharing/Data/stations_formatted.csv')

In [259]:
df2.shape

(891292, 15)

In [261]:
df2.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
date                  0
average_temp          0
dtype: int64

In [263]:
# this will likely be our final data set, as we have removed null and incorrectly formatted results
# we went from 895485 -> 891292 total entries (removing 4193 entries). 
# this seems like a lot BUT it is less than 0.5 % of our original DF meaning we still have a significant amount of Data to work with!